.bigCounter{
    text-align: center;
    

}

.bigCounter div{
    display: inline-block;
    font-size: 60px;
    line-height: 60px;
    background: #2b2a2a;
    color:white;
    padding:10px;
    margin: 5px;
}


body{
    background-color: rgb(207, 203, 197);
}
#footer { 
    margin-top: auto;

}
#mainDiv{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}